
/* Search */

.search {
	
	display: block;
	margin: 15px 0;

	input {

		border: 1px solid $lightGray;

		&::placeholder {

			color: $gray;

		}

	}

	table {

		margin: 15px 0 0 0;

	}

	.mb-3 {

		position: relative;
		margin: 0 !important;

		.reset {

			position: absolute;
			z-index: 10;
			top: 7px;
			right: 10px;

			a {

				color: $gray;

			}

		}

	}

}

.dropdown-menu {

	display: block !important;
	width: 100%;
	border-color: $lightGray;

	.dropdown-item {

		padding: 0.5rem 1.5rem;

		&:hover, &:focus {

			background: $green;
			color: $white !important;

		}

	}

}
