
/* Typography */

h1, h2, h3, h4 {

	font-family: $titleFontFamily;
	font-weight: $titleFontWeight;
	color: $titleFontColour;
	text-align: center;

}

h1 {

	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 48px;

}

body {

	font-family: $bodyFontFamily;
	font-size: 16px;
	text-align: center;

}