
@import 'variables';
@import 'typography';
@import 'loader';
@import 'tables';
@import 'grid';
@import 'buttons';
@import 'search';

body {

	background: $lightGray;
	min-height: 100vh;
	margin: 0;
	padding: 60px 0 0 0;
	overflow-x: hidden;

}

a {

	color: $green;
	transition: $fastTransition;

	&:hover, &:focus {

		color: darken($green, 40%);

	}

}

p {

	margin: 0;

}

.card {

	border: none;

}

.input-group-text {

	background: $green;
	border: none;
	color: $white;

}

blockquote {

	font-size: 2em;
	font-style: italic;
	color: $green;

}